<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link
	href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css'
	rel='stylesheet' />
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="col-md-12">
			<a class="btn btn-primary" th:href="@{/cliente}">Ver Clientes</a>
		</div>
		<div class="col-md-12">
			<form th:object="${use_form}" method="post" th:id="${id}">


				<div class="form-group">
					<label for="nombre" class="control-label">Nombre:</label> <input
						class="form-control" pattern="^[_A-z0-9]{1,}$" name="nombre"
						type="text" th:field="*{nombre}" required="true" />

				</div>

				<div class="form-group">
					<label for="apellido" class="control-label">Apellidos:</label> <input
						class="form-control" pattern="^[_A-z0-9]{1,}$" name="apellido"
						type="text" th:field="*{apellido}" required="true" />
				</div>

				<div class="form-group">
					<label for="email" class="control-label">Correo:</label> <input
						class="form-control" name="email" type="email" th:field="*{email}"
						required="true" />
				</div>
				<div class='form-group'>
					<div class='col-md-9 col-md-offset-3'>
						<div id='messages'></div>
					</div>
				</div>

				<div class="form-group">
					<input class="form-control" type="hidden" th:field="*{id}" />
				</div>
				<div class="form-group">
					<button th:class="${clase}" type="submit" th:id="btn2+${id}"
						th:text="${btn}">Crear Cliente</button>
				</div>
			</form>
		</div>
		<div class="col-md-12" th:style="${style}">
			<h3>Cliente Nuevos</h3>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead style="background: #1B2631; color: #ECF0F1;">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Correo</th>
							<th>Fecha</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody id="contenido">
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js'></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/es_ES.min.js'></script>


	<script>
		$(contenido).html("");

		$(function() {

			$("#addCliente").submit(function() {
				agregarDinamico();
				return false;
			});
			$("#btnaddCliente").click(function() {

			});

		});

		function agregarDinamico() {
			$.ajax({
						type : "POST",
						dataType : "json",
						url : "/cliente/save2",
						data : $('#addCliente').serialize(),
						cache : false,
						timeout : 600000,
						beforeSend : function() {
						},
						success : function(data) {
							var l = data["data"];

							for (i in l) {
								var d = new Date(l[i].fecha);
								var s = "<tr><td>" + l[i].id + "</td><td>"
										+ l[i].nombre + "</td><td>"
										+ l[i].apellido + "</td><td>"
										+ l[i].email + "</td><td>"
										+ d.toGMTString() + "</td><td>";
								s += '<div class="col-md-3">';
								s += '<a class="btn btn-default" href="/cliente/update/'+l[i].id+'"> <span class="glyphicon glyphicon-pencil"></span>Editar';
								s += '</a></div><div class="col-md-3">';
								s += '<a class="btn btn-danger" href="/cliente/delete/'+l[i].id+'"> <span class="glyphicon glyphicon-remove-sign"></span>Eliminar';
								s += "</a></div></td></tr>";
								$("#contenido").append(s);
							}
						}
					});

		}
	</script>
</body>
</html>